<!DOCTYPE html>
<html lang="en">
<body>
<h3>20200711</h3>
- 어느 부분에서 커넥션이 생기고 종료되는지 확인 (라이프사이클 확인)

- 분석력 키우기
    => 커넥션 풀을 구현하게 되면 어느 선에서 구현해야 할 것인가
    => 내가 어느 로직에 트렌젝션을 걸 것인가
    => 분석력을 키우면 레이아웃에 대한 개념을 배울 수 있음

- 트랜젝션
    => 프레임워크 도움 없이 구현하기 (@Transactional사용 X)
    => 트랜젝션과 커밋에 대한 개념을 알아야 jpa할 때 쉬움

- 솔리드 개발론
    => 다양한 컨트롤러에서 동일한 로직을 사용할 수 있음
    => 컨트롤러 단에 들어오는 건 다양한 서비스를 처리할 수도 있고 아닐 수도 있음
    => 서비스는 꼭 이뤄져야 하는 하나의 로직

<h3>다음 미션</h3>
- 외부 주입으로 만건의 데이터가 인스트 되는 사항에서 특정 인덱스(7777) 에서 인서트 중 에러가 발생하면 어떻게 처리 해야 할까
</body>
</html>